doctype html
html
head
    meta(charset='UTF-8')

body
    include title.pug
    
    //- navbar
    +title('about')

    .container(style=`margin-top, margin-bottom: 2rem`)
        .row.pt-3
            //- PMediaNode 說明
            .col
                img.brandIcon#brandLogo
            .col
                h2 pMediaNode #[span.badge.badge-secondary(style='font-size: 16px')= strings.about_app]
                a(href='https://github.com/pan93412/pmedianode-repo/blob/master/README.md')= strings.about_readme
                br
                a(href='https://github.com/pan93412/pmedianode-repo')= strings.about_repo
        if showAuthors
            .row.pt-3
                //- pan93412
                .col
                    img.personalIcon#pan93412-logo
                .col
                    h2 @pan93412 #[span.badge.badge-secondary(style='font-size: 16px')= strings.about_founder]
                    ul
                        li 一名自由軟體翻譯者
                        li 一名程式工程師
                        ul
                            li 前端：HTML / CSS / SCSS / JS
                            li 後端：Python、PHP、Java、C++ (a little)、#[br]
                            |  Golang
                        li 可能也是個實況主（？
                        li Bootstrap 文件爛死
                    h3= strings.about_contact
                    a(href='mailto:pan93412[at]gmail.com')= strings.about_email
                    |
                    a(href='https://t.me/byStarTW_TW') Telegram 
                    |
                    a(href='https://www.facebook.com/pan93412TW') Facebook 
                    |
                    a(href='https://github.com/pan93412') GitHub
            .row.pt-3
                //- hugwalk
                .col
                    img.personalIcon#hugwalk-logo
                .col
                    h2 @hugwalk #[span.badge.badge-secondary(style='font-size: 16px')= strings.about_cofounder]
                    ul
                        li 業餘設計師
                            ul
                                li 使用者介面
                                li 插畫
                                li 動畫
                        li 自由軟體翻譯者
                        li 我恨 Bootstrap，戰？
                    h3= strings.about_contact
                    a(href='mailto:extended.wl[at]gmail.com')= strings.about_email 
                    |
                    a(href='https://t.me/hugwalk') Telegram 
                    |
                    a(href='https://twitter.com/hugwalk') Twitter
            .row.pt-3
                //- U2FsdGVkX1
                .col
                    img.personalIcon#U2FsdGVKX1-logo
                .col
                    h2 @U2FsdGVkX1 #[span.badge.badge-secondary(style='font-size: 16px')= strings.about_cofounder]
                    ul
                        li 討厭 express
                        li 討厭 Bootstrap
                        li Vue.JS 使用請
                        li Laravel 使用請
                        li koa2 使用請
                    h3= strings.about_contact
                    a(href='https://github.com/U2FsdGVkX1') GitHub

include footer.pug

// 包含 SVG logo
script(src='/assets/about.bundle.js')