doctype html
html
head
    meta(charset='UTF-8')
    link(href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet")

body
    include ../assets/title.pug
    
    //- navbar
    +title('play')

    .container
        .row.pt-3
            .col#playerContainer
                if vidID
                    video.video.video-js.vjs-default.skin.sticky-top#mediaPlayer(preload='metadata' data-setup='{\"liveui\": true, \"playbackRates\": [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2]}' controls)
                        source(src=vidData.url)
                else
                    h2 錯誤
                        | p 媒體可能不存在，或您輸入的媒體 ID 錯誤！
            .col
                if vidID
                    h1= vidData.title
                    blockquote!= vidData.desc
                    p 發布者：#{vidData.author}
                    p!= '標籤：' + vidTags