doctype html
html
head
    meta(charset='UTF-8')
    link(href="/assets/videoJS/video-js.min.css" rel="stylesheet")

body
    include ../assets/title.pug
    
    //- navbar
    +title('play')

    .container
        .row.pt-3
            .col#playerContainer
                if vidID
                    video.video.video-js.vjs-default.skin.sticky-top#mediaPlayer(preload='metadata' data-setup='{\"liveui\": true, \"playbackRates\": [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2]}' controls)
                        source(src=vidData.url type="application/x-mpegURL")
                else
                    h2 錯誤
                        | p 媒體可能不存在，或您輸入的媒體 ID 錯誤！
            .col
                if vidID
                    h1= vidData.title
                    blockquote!= vidData.desc
                    p 發布者：#{vidData.author}
                    p!= '標籤：' + vidTags

script(src='/assets/videoJS/video.min.js')
script(src='/assets/videoJSStream/videojs-http-streaming.min.js')

// 判斷影片是否可用
script.
    $("#mediaPlayer").on("error", () => {
        $("#playerContainer").empty()
            .append("<h2>錯誤</h2>")
            .append("<p>影片編號正確，但是<b>影片不存在</b>。請聯絡管理員。</p>");
        }
    )