include ../data/navBarEntries.pug

//- 提早載入 JSS
script(src="/assets/css.bundle.js")

mixin title(currentPage)
    title= brand + " - " + navData[currentPage].name

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.align-items-center.sticky-top
        a.navbar-brand(href='#')= brand + " - " + navData[currentPage].name
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav')
            span.navbar-toggler-icon
        
        div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav
                each pageObj in navData
                    if pageObj.hide === false
                        if pageObj === navData[currentPage]
                            li.nav-item.active
                                a.nav-link(href='#')= pageObj.name
                        else
                            li.nav-item
                                a.nav-link(href=pageObj.page)= pageObj.name

        form.form-inline.my-2.my-md-0(action='/search' method='GET')
            input.form-control.mr-2(type='search' name='q' value=userQuery ? userQuery : '' placeholder='試試看「pan93412」？')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 搜尋影片