include ../data/navBarEntries.pug

//- 提早載入 JSS
script(src="/assets/css.bundle.js")

mixin title(currentPage)
    title= brand + " - " + navData[currentPage].name

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.align-items-center.sticky-top
        a.navbar-brand(href='#')= brand + " - " + navData[currentPage].name
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav')
            span.navbar-toggler-icon
        
        div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav
                each pageObj in navData
                    if pageObj.hide === false
                        if pageObj === navData[currentPage]
                            li.nav-item.active
                                a.nav-link(href='#')= pageObj.name
                        else
                            li.nav-item
                                a.nav-link(href=pageObj.page)= pageObj.name

        .btn-group.my-2.my-md-0.mr-2.ml-1
            button.btn.btn-outline-dark.dropdown-toggle(type='button' data-toggle='dropdown')= strings.navbar_lang
            .dropdown-menu.dropdown-menu-right
                - for ([langcode, langname] of langMeta.langList) {
                a.dropdown-item.changeLang(data-lang=langcode href='#')= langname
                - }

        form.form-inline.my-2.my-md-0(action='/search' method='GET')
            input.form-control.mr-2(type='search' name='q' value=userQuery ? userQuery : '' placeholder=strings.title_searchPlaceHolder)
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit')= strings.title_searchBtn
